// Typography
$basefont:  10px
$fz-20: 2rem 
$fz-18: 1.8rem 
$fz-15: 1.5rem
$fz-14: 1.4rem
$fz-12: 1.2rem


$ff-body: "Sailec-Regular"
$ff-medium: "Sailec-Medium"
$ff-bold: "Sailec-Bold"
 
// Colors
$br: 4px

// Measures & Widths
$maxwidth-xxl:      1440px
$maxwidth-xl:       1180px
$maxwidth-lt:       970px
$maxwidth-lg:       768px

// Media Queries
$mobile:          "only screen and (min-width: 425px)"
$tablet:          "only screen and (min-width: 768px)"
$slaptop:           "only screen and (min-width: 992px)"
$laptop:           "only screen and (min-width: 1024px)"
$llaptop:           "only screen and (min-width: 1280px)" 
$desktop:           "only screen and (min-width: 1440px)" 